apiVersion: apps/v1
kind: Deployment
metadata:
  name: m3u-editor
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: m3u-editor
  template:
    metadata:
      labels:
        app: m3u-editor
    spec:
      containers:
      - name: m3u-editor
        image: sparkison/m3u-editor:latest
        securityContext:
          privileged: true
        ports:
        - containerPort: 36400
          name: http
        - containerPort: 36800
          name: ws
        env:
        - name: TZ
          value: "Europe/London"
        - name: APP_URL
          value: "http://m3u-editor.media.svc.cluster.local:36400"
        - name: ENABLE_POSTGRES
          value: "true"
        - name: PG_DATABASE
          value: "m3uedb"
        - name: PG_USER
          value: "m3ue"
        - name: PG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: m3ue.m3u-editor-db.credentials.postgresql.acid.zalan.do
              key: password
        - name: PG_PORT
          value: "5432"
        - name: DB_CONNECTION
          value: "pgsql"
        - name: DB_HOST
          value: "m3u-editor-db"
        - name: DB_PORT
          value: "5432"
        - name: DB_DATABASE
          value: "m3uedb"
        - name: DB_USERNAME
          value: "m3ue"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: m3ue.m3u-editor-db.credentials.postgresql.acid.zalan.do
              key: password
        volumeMounts:
        - name: config
          mountPath: /var/www/config
        - name: dri
          mountPath: /dev/dri
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: m3u-editor-config
      - name: dri
        hostPath:
          path: /dev/dri

